{% extends "master.html" %}

{% block main %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Example payment form</h1>
        </div>

        <p>Click below to buy a {{ item.desc }} for £{{ "%.2f" % item.price }}</p>
                
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="container" id="pay_form">
            <form class="form" method="post" action="">
                {{ form.csrf_token }}

                {{ form.submit(class_="btn-lg btn-primary") }}
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    function loadCard(name, number, date) {
        // populate the form fields
        $("#name_on_card").val(name);
        $("#card_number").val(number);
        $("#expiry_date").val(date);
        $("#security_code").val("");
        $("#save_card").prop("checked", false);
    }
</script>
{% endblock %}
