{% extends "master.html" %}

{% block main %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Payment Error</h1>
        </div>

        <p>{{ message }}</p>
    </div>
{% endblock %}
