{% extends "master.html" %}

{% block main %}
    <div class="container">
        <div class="jumbotron">
                <h1 class="display-4">Pay Here</h1>
            </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Transaction Summary</h5>
                        <ul>
                            <li>{{ payment.description }}</li>
                        </ul>
                        <!-- <p class="card-text">{{ payment.description }}</p> -->
                        <hr />
                        <p class="card-text">Total: <strong>£{{ "%.2f" % payment.get_price_decimal() }}</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">

                <p>Use one of your <a data-toggle="collapse" href="#savedCards" role="button" aria-expanded="false" aria-controls="savedCards">saved cards</a> or enter card details below:</p>

                <div class="collapse" id="savedCards">
                    <h5>My Saved Cards</h5>

                    <ul id="cards-list" style="list-style: none; padding: 0;">
                        {% for card in cards %}
                            <li data-id="{{ card.id }}">
                                <div class="card card-body">
                                    <div class="row">
                                        <div class="col">
                                                <p class="card-text">{{ card.get_anon_number() }} ({{ card.name_on_card }}) expires {{ card.get_pretty_expiry_date() }}</p>
                                        </div>
                                        <div class="col-sm-auto">
                                            <button type="button" class="btn btn-outline-danger btn-sm card-delete">Delete</button>
                                        </div>
                                        <div class="col-sm-auto">
                                            <button type="button" class="btn btn-primary btn-sm" onclick="loadCard('{{ card.name_on_card }}', '{{ card.card_number }}', '{{ card.get_pretty_expiry_date() }}')">Select this card</button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                        
                    </ul>

                    <div id="no-cards-message" {% if cards %}style="display: none;"{% endif %} class="card card-body" style="margin-bottom: 1rem;">
                        <p class="card-text">You don't have any cards saved.</p>
                    </div>
                </div>
                
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-danger" role="alert">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <div class="container" id="pay_form">
                    <form class="form" method="post" action="">
                        {{ form.csrf_token }}

                        <div class="form-group row">
                            {{ form.name_on_card.label(class_="col-sm-3 col-form-label") }}
                            <div class="col-sm-9">
                                {{ form.name_on_card(class_="form-control", placeholder="Hugh Jarse") }}
                            </div>

                            {% if form.name_on_card.errors %}
                                <div class="container errors">
                                    {% for error in form.name_on_card.errors %}
                                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <div class="form-group row">
                            {{ form.card_number.label(class_="col-sm-3 col-form-label") }}
                            <div class="col-sm-9">
                                {{ form.card_number(class_="form-control", placeholder="1234567812345678") }}
                            </div>

                            {% if form.card_number.errors %}
                                <div class="container errors">
                                    {% for error in form.card_number.errors %}
                                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <div class="form-group row">
                            {{ form.expiry_date.label(class_="col-sm-3 col-form-label") }}
                            <div class="col-sm-3">
                                {{ form.expiry_date(class_="form-control", placeholder="mm/yy") }}
                            </div>

                            {{ form.security_code.label(class_="col-sm-3 col-form-label") }}
                            <div class="col-sm-3">
                                {{ form.security_code(class_="form-control", placeholder="123") }}
                            </div>

                            {% if form.expiry_date.errors %}
                                <div class="container errors">
                                    {% for error in form.expiry_date.errors %}
                                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            {% endif %}

                            {% if form.security_code.errors %}
                                <div class="container errors">
                                    {% for error in form.security_code.errors %}
                                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <div class="form-group row">
                            <div class="form-check">
                                {{ form.save_card(class_="form-check-input", type="checkbox", checked="true") }}
                                {{ form.save_card.label(class_="form-check-label") }}
                            </div>
                        </div>

                        {{ form.submit(class_="btn-lg btn-primary") }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    function loadCard(name, number, date) {
        // populate the form fields
        $("#name_on_card").val(name);
        $("#card_number").val(number);
        $("#expiry_date").val(date);
        $("#security_code").val("");
        $("#save_card").prop("checked", false);
    }

    $(".card-delete").click(function () {
        var li = $(this).closest("li");

        var csrf_token = "{{ csrf_token() }}";

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });

        $.ajax({
            url: window.location.href + "cards/" + li.data("id"),
            type: "DELETE",
            success: function(result) {
                li.remove();

                // show the no cards message if no more cards
                if ($("#cards-list").has("li").length == 0) {
                    $("#no-cards-message").show();
                }
            }
        });
    });
</script>
{% endblock %}
