{% extends "master.html" %}

{% block main %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Thank you!</h1>
        </div>

        <p>Thanks for your payment! We've emailed you a receipt.</p>
    </div>
{% endblock %}
