/* section 1 starts - used to enable us to create an footer at the bottom of the page */

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    transition: margin-left 0.5s;
    padding-right: 0 !important;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    color: white;
}

/* ---------------- helpers ------------------*/
.border {
    border: 1px solid black;

}

.spaceUp {
    margin-top: 10px;
}

.spaceDown {
    margin-bottom: 10px;
}

.spaceLeft {
    margin-left: 10px;
}


.navContLarge {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.authCont {
    margin-right: 10px;
}


/* ----------------------------- client validation ------------------------------- */

.error {
    display: none;
    margin-left: 10px;
}

.error_show {
    color: red;
    margin-left: 10px;
}

input.invalid,
textarea.invalid {
    border: 2px solid red;
}

input.valid,
textarea.valid {
    border: 2px solid green;
}