.ribbon-parent {
    overflow: hidden;
}

.ribbon {
    margin: 0;
    padding: 0;
    background: #e9ecef;
    color:#212529;
    padding:1em 0;
    position: absolute;
    top:0;
    right:0;
    transform: translateX(30%) translateY(0%) rotate(45deg);
    transform-origin: top left;
    line-height: 5px;
}
.ribbon:before,
.ribbon:after {
    content: '';
    position: absolute;
    top:0;
    margin: 0 -1px; /* tweak */
    width: 100%;
    height: 100%;
    background: #e9ecef;
}
.ribbon:before {
    right:100%;
}

.ribbon:after {
    left:100%;
}