{% extends "master.html" %} 

{% block main %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Activities Timetable</h1>
        </div>

        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#filters" role="button" aria-expanded="false" aria-controls="collapseExample">
                Show/Hide Filters
            </a>
        </p>

        <div class="collapse" id="filters">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Filters</h5>

                    <div>
                        <div class="form-row">
                            <div class="col-sm-3">
                                <strong>Show Facilities</strong>
                            </div>
                            <div class="col-sm-9">
                                {% for facility in facilities %}
                                    <div class="form-check ">
                                        <input class="form-check-input facility_check" type="checkbox" value="{{ facility.id }}" id="facility_check_{{ facility.id }}" name="facility_check_{{ facility.id }}"{% if facility.id in filtered_facilities %} checked{% endif %}>
                                        <label class="form-check-label" for="facility_check_{{ facility.id }}">
                                            {{ facility.name }}
                                        </label>
                                        <br>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-row">
                                <div class="col-sm-3">
                                    <strong>Date Range</strong>
                                </div>

                                <div class="col-sm-9">
                                    Please complete me!
                                </div>
    
                            </div>

                        <div class="form-row">
                            <div class="col-sm-3">
                                <strong>Time Range</strong>
                            </div>

                            <div class="col-sm-9">
                                Please complete me!
                            </div>
                        </div>

                        <div class="form-row">
                            <button class="btn btn-primary" id="applyFiltersButton">Apply Filters</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% for date in dates %}
            <h2>{{ date.date.strftime("%A %d %B %Y") }}</h2>
            
            <ul class="activitiesList" style="padding: 0; list-style-type: none;">

                {% if date["activities"] == [] %}
                    <p>There are no activities matching your search on this day.</p>
                {% endif %}

                {% for activity in date["activities"] %}
                    <li style="margin-bottom: 10px;">
    
                        <div class="card">
                            <div class="card-body row align-items-center">
                                <div class="col">
                                    <p class="card-text"><strong>{{ activity.start_time.strftime("%d %b %Y at %H:%M") }}</strong> - {{ activity.name }} at {{ activity.facility.name}}</p>
                                </div>
                                <div class="col-sm-auto">
                                    <a class="btn btn-primary" role="button" aria-pressed="true" href="{{ url_for("main_bp.activity", activity_id = activity.id) }}">View Activity</a>
                                </div>
                            </div>
                        </div>
    
                    </li>
                {% endfor %}
    
            </ul>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}

    <script>

        $("#applyFiltersButton").click(function () {
            var newURL = location.protocol + '//' + location.host + location.pathname;
            $(function () {
                $('#datetimepicker3').datetimepicker({
                    format: 'LT'
                });
            });
            var facilities = [];
            $(".facility_check").each(function () {
                if (this.checked) {
                    facilities.push($(this).val())
                }
            });

            newURL += "?facilities=";
            newURL += facilities.join(",");
            newURL += "&time="
            newURL += "12"

            window.location.replace(newURL);
        });

    </script>

{% endblock %}