{% extends "master.html" %} 

{% from "macros.html" import activity_info %}

{% block main %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">{{ activity.name }} at {{facility_name}}</h1>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Booking</h2>

                        {% if booking != None %}
                            <p>You're booked onto this session.</p>

                            <hr />

                            <a class="btn btn-primary" role="button" aria-pressed="true" href="{{ url_for("user_bp.booking", booking_id = booking.id) }}">View Booking</a>
                        {% else %}

                            {% if capacity["initial"] <= capacity["booked"] %}
                                <p>This activity is full so you can't book right now. Please try a different activity.</p>
                            {% else %}
                                <p>You are not booked onto this activity.</p>

                                <p>
                                    Booking Price: {{ price_text }} 

                                    {% if current_user.is_member %}
                                        <span class="badge badge-success">Member's Discount</span>
                                    {% else %}
                                        {% if peak_time %}
                                            <span class="badge badge-warning">Peak</span>
                                        {% else %}
                                            <span class="badge badge-secondary">Off-Peak</span>
                                        {% endif %}
                                    {% endif %}
                                    
                                </p>

                                {% if current_user.is_member %}
                                    <p><em>Members can book activities for free!</em></p>
                                {% endif %}

                                <hr />

                                <div id="book_form">
                                    <form class="form" method="post" action="">
                                        {{ form.csrf_token }}

                                        {{ form.submit(class_="btn btn-primary") }}
                                    </form>
                                </div>
                            {% endif %}

                        {% endif %}
                        
                        
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <h2>Activity Information</h2>

                {{ activity_info(activity) }}
            </div>
        </div>

            
    </div>
{% endblock %}