{% extends "master.html" %} 

{% block main %}

    <h1>Booking Page</h1>
    <b>Activity: </b>{{activity.name}} <br>
    <b>Facility: </b>{{facility_name}} <br>
    <b>Date: </b>{{activity.start_time.strftime("%d/%m/%Y")}} <br>
    <b>Time: </b>{{activity.start_time.strftime("%H:%M")}} - {{activity.end_time.strftime("%H:%M")}} <br>
    <b>Capacity: </b>{{initial_capacity - spaces_booked}} / {{initial_capacity}} spaces remaining <br>
    <b>Price: </b>£{{price}} <br>

    {% if peak_time == True %}
        <b>Price Type: </b> Peak <br>
    {% else %}
        <b>Price Type:</b> Off-Peak <br>

    {% endif %}
    <br>
    {% if already_booked == True %}
        <b>Status:</b> You are booked into this session <br>
    {% else %}
        <b>Status:</b> You are not currently booked into this session <br>
    {% endif %}



    <br><br>
    {% if current_hour < activity.start_time %}
        {% if already_booked == True %}
            <a href=/cancelbooking/{{user.id}}/{{activity.id}} ><input type="button", value="Cancel Booking" /></a>
        {% endif %}

        {%  if current_capacity == 0 and already_booked != True %}
            <input type="button", value="Book Activity" onclick="full()" />
        {% endif %}

        {% if current_capacity != 0 and already_booked != True  %}
        <a href=/book/{{user.id}}/{{activity.id}} > <input type="button", value="Book Activity"/> </a>
        {% endif %}
    {% else %}
    <b>Activity has already happened / is already in session, cannot be booked/cancelled</b>
    {% endif %}

    <script>
        function full() {
            alert("Activity is at capacity, booking cannot be made");
        }
    </script>
{% endblock %}