<div class="container">
    <div class="row">
        <div class="col-sm-7 col-md-9 col-lg-9 col-xl-9 mx-auto">
            <div id="carouselControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for img in images %}
                        {% if img == images[0] %}
                        <div class="carousel-item active">
                        {% else %}
                        <div class="carousel-item">
                        {% endif %}
                            <img class="d-block w-100" src="{{url_for('static', filename='CarouselImages/')}}{{img}}" alt="picture of {{img.split('.')[0]}}">
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>