{% extends "master.html" %}

{% block main %}
    <h1>{{facility_name}}</h1>
    <h2>Activities available: {{activity_list}}</h2>
    <div class="col-sm-7 col-md-9 col-lg-9 col-xl-9 mx-auto">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for image in folder %}
                    {% if image == folder[1] %}
                        <div class="carousel-item active">
                    {% else %}
                        <div class="carousel-item">
                    {% endif %}
                        <img class="d-block w-100" src="/static/{{folder_name}}/{{image}}" alt="picture of {{image.split('.')[0]}}">
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
{% endblock %}

{% block footer %}
<div class="accordion" id="references">
    <a href="" class="text-decoration-none" type="button" data-toggle="collapse" data-target="#collapseReferences" aria-expanded="true" aria-controls="collapseOne">
        References
    </a>
    <div id="collapseReferences" class="collapse" aria-labelledby="headingOne" data-parent="#references">
        <div class="card-body">
            <ul>
                <li>
                    <tiny>http://wallpaperswide.com/olympic_swimming_pool-wallpapers.html</tiny>
                </li>
                <li>
                    https://www.lifestylefitness.co.uk/images/uploads/gallery/1920x1080-Hugh-Baird-2.jpg
                </li>
                <li>
                    https://www.dmu.ac.uk/webimages/About-DMU-images/DMU-Leisure-Centre/sports-hall-img.jpg
                </li>
                <li>
                    https://mk0schoolspace4e2ayv.kinstacdn.com/wp-content/uploads/images/Hayford-Park-Specialisms-Campus-Sports-Hall.jpg
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}