{% extends "master.html" %}

{% block main %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Welcome to The Edgier</h1>
          <p class="lead">A beautiful modern multi-purpose sports centre, built for you.</p>
        </div>
    </div>

    {% include "carousel.html" %}
{% endblock %}

{% block footer %}
<div class="accordion" id="references">
    <a href="" class="text-decoration-none" type="button" data-toggle="collapse" data-target="#collapseReferences" aria-expanded="true" aria-controls="collapseOne">
        References
    </a>
    <div id="collapseReferences" class="collapse" aria-labelledby="headingOne" data-parent="#references">
        <div class="card-body">
            <ul>
                <li>
                    <tiny>http://wallpaperswide.com/olympic_swimming_pool-wallpapers.html</tiny>
                </li>
                <li>
                    https://www.lifestylefitness.co.uk/images/uploads/gallery/1920x1080-Hugh-Baird-2.jpg
                </li>
                <li>
                    https://www.dmu.ac.uk/webimages/About-DMU-images/DMU-Leisure-Centre/sports-hall-img.jpg
                </li>
                <li>
                    https://mk0schoolspace4e2ayv.kinstacdn.com/wp-content/uploads/images/Hayford-Park-Specialisms-Campus-Sports-Hall.jpg
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}