{% extends "master.html" %} 

{% block main %}
    <br>
    <div class="bg-light">
        <!--<a class="btn btn-primary" data-toggle="collapse" href="#filters" role="button">
                Show/Hide Filters | v

                class="col-3 bg-secondary collapse", (goes before id)
        </a>-->

            
        <div class="row h-100">
            <div class="shadow col-2 rounded", id="filters">
                <form action="" method="post" name="timetable">
                        
                    {{ form.hidden_tag() }}
                    <p>Facility:{{wtf.form_field(form.facility, class='form-control-sm')}}</p>
                    
                    <br><br><br><br><br><br><br><br><br>
                    
                    <p>Week Beginning:{{wtf.form_field(form.start_date, class='form-control-sm')}}</p>
                    <p>Time Start:{{wtf.form_field(form.start_time, class='form-control-sm')}}</p>
                    <p>Time End:{{wtf.form_field(form.end_time, class='form-control-sm')}}</p>
                    <p><input type="submit" class="btn btn-primary" value="Show Timetable"></p>
                    <br><br>
                    <font color="white">(Non-hyperlinked sessions aren't available to be booked)</font>
                </form>
                    

                <script>
                    let start_time_select = document.getElementById('start_time');
                    let end_time_select = document.getElementById('end_time');

                    start_time_select.onchange = function(){
                        start_time = start_time_select.value;
                        fetch('/timetable/'+start_time).then(function(response){
                            response.json().then(function(data){
                                let optionHTMl = '';
                                for(let time of data.Times){
                                    if(time[0] > start_time)
                                        optionHTMl += '<option value="'+time[0]+'">' + time[1] + '</option>';
                                }
                                end_time_select.innerHTML = optionHTMl;
                            });
                        });
                    }
                </script>
            </div>
            <div class="col-10 shadow-none">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                        <th> </th>
                        {% if week %}
                            {% for date in week %}
                                <th>{{date.strftime('%A %d/%m')}}</th>
                            {% endfor %}
                        {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% if activities %}
                            {% for hour in range(times|length) %}
                                <tr>
                                    <td><strong>{{times[hour][1]}}</strong></td>
                                    {% for day in activities %}
                                        <td>
                                            {% for activity in day[hour] %}
                                            {% if current_user %}
                                                {% if current_user.is_authenticated %}
                                                <a class="btn btn-info btn-sm" href=/activities/{{activity.id}} , title={{activity.facility_id}}> {{activity.name}}-{{activity.facility.name}}</a><br><br>
                                                {% else %}
                                                <a class="btn btn-info btn-sm disabled" role="button" aria-disabled="true"> {{activity.name}}-{{activity.facility.name}} </a><br><br>
                                                {% endif %}

                                            {% endif %}
                                            {% else %}
                                                <br>
                                            {% endfor %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}