{% block activityList %}
    <div class="spaceUp">
        <form action="{{ url_for('admin_bp.activity_history', facility=facility) }}"
        id="view_data_form" class="formContainer"  method="post" role="form">
            {{ view_form.hidden_tag() }}
            <div class="row justify-content-between">
                <div class="col-auto mr-auto">
                    <div class="row">
                        <div class="form-group spaceLeft">
                            {% if facility %}
                                {{ view_form.activity.label }}<br>
                                {{ view_form.activity(**{ "class":"form-control"}) }}
                                <div class="form-control-feedback">
                                    {% for error in view_form.activity.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <div class="form-group spaceLeft">
                            {{ view_form.start_date.label }}<br>
                            {{ view_form.start_date(**{ "class":"form-control"}) }}
                            <div class="form-control-feedback">
                                {% for error in view_form.start_date.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group spaceLeft">
                            {{ view_form.end_date.label }}<br>
                            {{ view_form.end_date(**{ "class":"form-control"}) }}
                            <div class="form-control-feedback ">
                                {% for error in view_form.end_date.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto align-self-center">
                    <button type="submit" class="btn btn-primary">search</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row d-flex justify-content-between spaceUp activity_detail">
        <div class="col text-center">Date</div>
        <div class="col text-center">Activity</div>
        <div class="col text-center"><p>Members</p><span>total</span></div>
        <div class="col text-center"><p>Non-members</p><span>total</span></div>
        <div class="col text-center"><p>Revenue</p><span>total</span></div>
    </div>
    {% for activity in activities %}
        <div class="row d-flex justify-content-between spaceUp activity_detail">
            <div class="col text-center">{{activity.start_time.strftime("%d/%m/%Y, %H:%M")}}</div>
            <div class="col text-center">{{activity.name}}</div>
            <div hidden>
                {% set  members = [] %}
                {% set  non_members = [] %}
                {% for user in activity.users %}
                    {% if user.user.is_member() %}
                        {{ members.append(user) }}
                    {% else %}
                        {{ non_members.append(user) }}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col text-center">{{members|length}}</div>
            <div class="col text-center">{{non_members|length}}</div>
            <div class="col text-center">revenue</div>
        </div>
    {% endfor %}
    <div class="row justify-content-between">
        <button class="{% if prev_url %}btn btn-primary change_page{% else %}btn btn-secondary{% endif %}"
            dest="{{ url_for('admin_bp.activity_history',  facility=facility, page=1) }}">prev {{prev_url}}</button>
        <button class="{% if next_url %}btn btn-primary change_page{% else %}btn btn-secondary{% endif %}"
            dest="{{ url_for('admin_bp.activity_history',  facility=facility, page=1) }}">next {{next_url}}</button>
    </div>
{% endblock %}