{% block toolbar %}

<div class="container toolbar">
    <div class="row">
        <a href="{{url_for('admin_bp.load_timetable_page')}}" class="btn btn-primary spaceLeft">manage timetable</a>
        <button class="btn btn-primary spaceLeft change_admin_view">manage facilities</button>
        <button class="btn btn-primary spaceLeft change_admin_view">manage users</button>
        <a href="{{url_for('admin_bp.load_statistics_page')}}" class="btn btn-primary spaceLeft">view statistics</a>
    </div>
</div>

{% endblock %}