{% block timetable %}
<div class="row justify-content-between">
    <button dest="{{url_for('admin_bp.get_timetable',facility=facility, week_inc=week_inc-1)}}" class="getAdminTimetable btn btn-primary">prev</button>
    <button dest="{{url_for('admin_bp.get_timetable',facility=facility, week_inc=week_inc+1)}}" class="getAdminTimetable btn btn-primary">next</button>
</div>
<div class="row">
    <div class="table-responsive">
        <table class="table table-striped table-dark">
            <thead>
            <tr>
            <th> </th>
                {% for day in timetable %}
                    <div>
                        <th>{{day[0].start_time.strftime('%d/%m/%Y')}}</th>
                    </div>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for hour in range(9) %}
                <tr>
                    <td><strong>{{hour+9}}:00</strong></td>
                    {% for day in timetable %}
                        {% if day[hour].name %}
                            <td class="view_activity" dest="{{url_for('admin_bp.manage_slot', activity_id=day[hour].id)}}" data-toggle="modal" data-target="#dynamicModal"> {{day[hour].name}}</p>
                        {% else %}
                            <td class="available_activity" dest="{{url_for('admin_bp.assign_slot', facility=facility, week=week_inc, hour=hour+1, day=loop.index)}}" data-toggle="modal" data-target="#dynamicModal" >available</p>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{%  endblock %}