{% extends "admin.html" %} 

{% block adminCont %}
    <div id="admin_content" class="container">
        <div class="jumbotron">
            <h1 class="display-4">Admin home portal</h1>
        </div>
    </div>
{% endblock %}