{% extends "master.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='admin.css') }}" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
{% endblock %}


{% block main %}
    {% include "adminToolbar.html" %}
    {% block adminCont %}
    {% endblock %}
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="{{ url_for('.static', filename='admin.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='chart.js') }}"></script>
{% endblock %}
