{% block bookActivityPopup %}

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Book Activity</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form action="{{ url_for('admin_bp.assign_slot', week=week, facility=facility, day=day,hour=hour)}}" class="book_activity_slot" method="post" role="form">
            {{ activity_form.hidden_tag() }}
            <div class="form-group">
                {{ activity_form.activity.label }}<br>
                {{ activity_form.activity(**{ "class":"form-control"}) }}
                <div class="form-control-feedback">
                    {% for error in activity_form.activity.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
{% endblock %}