{% extends "admin.html" %} 

{% block adminCont %}
<div class="container spaceUp">
    <div class="dynamic_content">   

        <div class="facility_list row">
            <button dest="{{url_for('admin_bp.get_timetable',facility='Swimming Pool')}}" type="submit" class="getAdminTimetable btn btn-outline-primary">
                Swimming Pool
            </button>
            <button dest="{{url_for('admin_bp.get_timetable',facility='Fitness Room')}}" type="button" class="getAdminTimetable btn btn-outline-primary spaceLeft">
                Fitness room
            </button>
            <button dest="{{url_for('admin_bp.get_timetable',facility='Squash Court 1')}}" type="submit" class="getAdminTimetable btn btn-outline-primary spaceLeft">
                Squash courts
            </button>
            <button dest="{{url_for('admin_bp.get_timetable',facility='Swimming Pool')}}" type="submit" class="getAdminTimetable btn btn-outline-primary spaceLeft">
                Sports hall
            </button>
        </div>
    </div>
</div>
<div id="timetableContainer" class="container"></div>
{% endblock %}