{% extends "admin.html" %} 

{% block adminCont %}
    <div class="container">
        <div class="facility_list row space up">
            <button dest="{{url_for('admin_bp.get_stats')}}" class="download_chart_data btn btn-outline-primary spaceLeft">
                Sports center
            </button>
            <button dest="{{url_for('admin_bp.get_stats',facility='Swimming Pool')}}" class="download_chart_data btn btn-outline-primary spaceLeft">
                Swimming Pool
            </button>
            <button dest="{{url_for('admin_bp.get_stats',facility='Fitness Room')}}" class="download_chart_data btn btn-outline-primary spaceLeft">
                Fitness room
            </button>
            <button dest="{{url_for('admin_bp.get_stats',facility='Squash Court 1')}}" class="download_chart_data btn btn-outline-primary spaceLeft">
                Squash courts
            </button>
            <button dest="{{url_for('admin_bp.get_stats',facility='Swimming Pool')}}"  class="download_chart_data btn btn-outline-primary spaceLeft">
                Sports hall
            </button>
        </div>
    </div>


    <meta name="stat_data_url" dest='{{url_for("admin_bp.get_stats")}}'/>
    <div class="container">
        <canvas id="myChart" width="600" height="400"></canvas>
    </div>

    <div class="text-center" id="loading_spinner">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div class="container" id="week_selection_toolbar">

    </div>

    <div class="container" id="activity_listy_container">

    </div>

{% endblock %}