

{% block bookActivityPopup %}

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">{{activity.name}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div>
                <h3>Attendee's</h3>
                
                {% for user in activity.users %}
                    <div class="row justify-content-between border">
                        <div class="col-auto mr-auto">
                            <p>{{user.user.first_name}}</p>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-outline-danger">remove</button>
                        </div>
                    </div>
                    
                {% endfor %}

            </div>
            <button class="btn btn-primary" >Add member</button>
        </div>
    </div>

{% endblock %}