{% block flash %}
    <div class="container">
        <div class="alert alert-{{ category }} alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <h3>{{message}}</h3>
        </div>
    </div>
{% endblock %}