{% macro activity_info(activity) %}

    <dl class="row">

        <dt class="col-sm-3">Activity</dt>
        <dd class="col-sm-9">{{ activity.name }}</dd>

        <dt class="col-sm-3">Facility</dt>
        <dd class="col-sm-9">{{ activity.facility.name }}</dd>

        <dt class="col-sm-3">Date</dt>
        <dd class="col-sm-9">{{ activity.start_time.strftime("%d/%m/%Y") }}</dd>

        <dt class="col-sm-3">Time</dt>
        <dd class="col-sm-9">
            {{ activity.start_time.strftime("%H:%M")}} - {{ activity.end_time.strftime("%H:%M") }}
            {% if activity.is_peak_time() %}
                <span class="badge badge-warning">Peak</span>
            {% else %}
                <span class="badge badge-secondary">Off-Peak</span>
            {% endif %}
        </dd>

        <dt class="col-sm-3">Spaces Remaining</dt>
        <dd class="col-sm-9">
            <div class="row">
                <div class="col-sm-auto">{{ activity.remaining_capacity() }} / {{ activity.initial_capacity() }}</div>
                <div class="col">
                    <div class="progress" style="height: 20px">
                        {% if activity.capacity_ratio() * 100 > 40 %}
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{ activity.capacity_ratio() * 100 }}%;" aria-valuenow="{{ activity.capacity_ratio() * 100 }}" aria-valuemin="0" aria-valuemax="100"></div>
                        {% elif activity.capacity_ratio() * 100 > 20 %}
                            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: {{ activity.capacity_ratio() * 100 }}%;" aria-valuenow="{{ activity.capacity_ratio() * 100 }}" aria-valuemin="0" aria-valuemax="100"></div>
                        {% else %}
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: {{ activity.capacity_ratio() * 100 }}%;" aria-valuenow="{{ activity.capacity_ratio() * 100 }}" aria-valuemin="0" aria-valuemax="100"></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </dd>

    </dl>

{% endmacro %}

{% macro payment_details(payment) %}

    <dl class="row">

        <dt class="col-sm-3">Description</dt>
        <dd class="col-sm-9">{{ payment.description }}</dd>

        <dt class="col-sm-3">Amount</dt>
        <dd class="col-sm-9">£{{ "%.2f" % payment.get_price_decimal() }}</dd>

        <dt class="col-sm-3">Time</dt>
        <dd class="col-sm-9">{{ payment.time.strftime("%d %b %Y at %H:%M") }}</dd>

        <dt class="col-sm-3">Card Used</dt>
        <dd class="col-sm-9">{{ payment.card.get_anon_number() }}</dd>

    </dl>

{% endmacro %}

{% macro booking_qrcode(booking) %}
    {% set qrstring = [config['QR_KEY'],booking.id]|join(",") %}
    <img id="qrcode" class="img-fluid" src="{{ qrstring | qrcode }}">
{% endmacro %}