<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
        <a class="navbar-brand" href="{{url_for('main_bp.index')}}">THE EDGIER</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('main_bp.index')}}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('main_bp.timetable')}}">Timetable</a>
            </li>
            <li class="nav-item dropdown">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Facilities
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="/facility/SwimmingPool">Swimming Pool</a>
                      <a class="dropdown-item" href="/facility/FitnessRoom">Fitness Room</a>
                      <a class="dropdown-item" href="/facility/SquashCourts">Squash Courts</a>
                      <a class="dropdown-item" href="/facility/SportsHall">Sports Hall</a>
                    </div>
                  </div>
            </li>
            {% if current_user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for('user_bp.bookings') }}">My Bookings</a>
                        <a class="dropdown-item" href="{{ url_for('user_bp.userAccount') }}">Account</a>
                        {% if current_user.is_member() %}
                            <a class="dropdown-item" href="{{url_for('membership_bp.membership_manage')}}">Manage Membership</a>
                        {% else %}
                            <a class="dropdown-item" href="{{url_for('membership_bp.membership_join')}}">Become a Member</a>
                        {% endif %}
                        <a class="dropdown-item" href="{{ url_for('user_bp.payments') }}">My Payments</a>
                        {% if current_user.is_employee() %}
                            <a class="dropdown-item" href="{{url_for('admin_bp.index')}}">Admin portal</a>
                        {% endif %}
                    </div>
                </li>

                {% if current_user.has_pending_payment() %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('pay_bp.pay')}}">Pay</a>
                </li>
                {% endif %}
            {% endif %}
            <div class="authCont">
                {% if current_user.is_anonymous %}
                    <li class="nav-item">
                        <a class="nav-link" href="" data="{{ url_for('user_bp.login') }}" class="btn btn-primary sideNavButton" data-toggle="modal" data-target="#dynamicModal" id="showLoginForm">
                            Login
                        </a>
                    </li>

                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('user_bp.logout') }}">Logout</a>
                        </li>
                    {% endif %}
                  </div> 
                  <!-- modal for dynamic forms -->
                <div class="modal fade" id="dynamicModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" id="dynamicModalInsert" role="document">
                </div>
            </div>
          </ul>
        </div>
</nav>