{% extends "master.html" %}

{% from "macros.html" import activity_info %}

{% block main %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Booking #{{ booking.id }}</h1>

            <p class="lead">{{ booking.activity.name }} at {{ booking.activity.facility.name }}</p>
        </div>

        <h2>Activity Information</h2>

        {{ activity_info(booking.activity) }}

        <h2>Booking Information</h2>

        <dl class="row">

            <dt class="col-sm-3">Activity ID</dt>
            <dd class="col-sm-9">{{ booking.activity_id }}</dd>
    
            <dt class="col-sm-3">User ID</dt>
            <dd class="col-sm-9">{{ booking.user_id }}</dd>
    
            <dt class="col-sm-3">Booking Time</dt>
            <dd class="col-sm-9">{{ booking.time_of_booking.strftime("%d %b %Y at %H:%M") }}</dd>

        </dl>

        <h3>Payment Details</h3>

        <dl class="row">

            <dt class="col-sm-3">Payment Card</dt>
            <dd class="col-sm-9">**** **** **** XXXX</dd>

            <dt class="col-sm-3">Payment Amount</dt>
            <dd class="col-sm-9">{{price_text}}</dd>

        </dl>

        <h2>Receipt</h2>

        <ul>
            <li>
                <a href="{{ url_for('user_bp.booking_receipt', booking_id=booking.id) }}" target="_blank">View printable receipt</a>
                (<a href="{{ url_for('user_bp.booking_receipt_pdf', booking_id=booking.id) }}" target="_blank">PDF</a>)
            </li>

            <li>
                <a href="{{ url_for('user_bp.email_receipt', booking_id=booking.id) }}">Email me a receipt</a>
                <!-- Email me a receipt -->
            </li>
        </ul>

        <h2>Manage Booking</h2>

        <div id="cancel_form">
            <form class="form" method="post" action="">
                {{ cancel_form.csrf_token }}

                {{ cancel_form.submit(class_="btn btn-outline-danger") }}
            </form>
        </div>
        
    </div>
{% endblock %}
