{% extends "master.html" %}

{% block main %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">My Bookings</h1>
        </div>

        {% if bookings == [] %}
            <p>You don't have any bookings.</p>

            <p>You can make one by finding an activity you like the look in <a href="{{ url_for("main_bp.timetable") }}">the timetable</a>.</p>
        {% else %}
        <ul id="bookingsList" style="padding: 0; list-style-type: none;">

            {% for booking in bookings %}
                <li style="margin-bottom: 10px;">

                    <div class="card">
                        <div class="card-body row align-items-center">
                            <div class="col">
                                <p class="card-text"><strong>{{ booking.activity.start_time.strftime("%d %b %Y at %H:%M") }}</strong> - {{ booking.activity.name }} at {{ booking.activity.facility.name}}</p>
                            </div>
                            <div class="col-sm-auto">
                                <a class="btn btn-primary" role="button" aria-pressed="true" href="{{ url_for("user_bp.booking", booking_id = booking.id) }}">View Booking</a>
                            </div>
                        </div>
                    </div>

                </li>
            {% endfor %}

        </ul>
        {% endif %}
    </div>
{% endblock %}
