{% block confirmPassword %}
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Change Password</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action='{{url_for("user_bp.changePassword")}}' method='POST' id='changePasswordForm'>
            {{ change_password_form.hidden_tag() }}
            <div class="modal-body">
                <div class="form-group">
                    {{ change_password_form.password.label }}<br>
                    {% if change_password_form.password.errors %}
                        {{ change_password_form.password(**{"type":"password", "class":"form-control is-invalid", "data-validator-label":"password", "data-validator":"required"}) }}
                        <div class="form-control-feedback invalid-feedback">
                            {% for error in change_password_form.password.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ change_password_form.password(**{"type":"password", "class":"form-control","data-validator-label":"password", "data-validator":"required"}) }}
                        <div class="form-control-feedback"></div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ change_password_form.new_password.label }}<br>
                    {% if change_password_form.new_password.errors %}
                        {{ change_password_form.new_password(**{"type":"password", "class":"form-control is-invalid","data-validator-label":"new password", "data-validator":"required|different:password"}) }}
                        <div class="form-control-feedback invalid-feedback">
                            {% for error in change_password_form.new_password.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ change_password_form.new_password(**{"type":"password", "class":"form-control","data-validator-label":"new password", "data-validator":"required|different:password"}) }}
                        <div class="form-control-feedback"></div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ change_password_form.new_password_confirm.label }}<br>
                    {% if change_password_form.new_password_confirm.errors %}
                        {{ change_password_form.new_password_confirm(**{"type":"password", "class":"form-control is-invalid", "data-validator-label":"new password confirmation","data-validator":"required|same:new_password"}) }}
                        <div class="form-control-feedback invalid-feedback">
                            {% for error in change_password_form.new_password_confirm.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ change_password_form.new_password_confirm(**{"type":"password",  "class":"form-control", "data-validator-label":"new password confirmation","data-validator":"required|same:new_password"}) }}
                        <div class="form-control-feedback"></div>
                    {% endif %}
                </div>
                <hr>
                <div class="row justify-content-between spaceUp borderUp">
                    <div class="col col-auto mr-auto">
                        <p>{{ change_password_form.submit(class_='btn btn-primary') }}</p>  
                    </div>
                    <div class="col col-auto">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}