{% block confirmPassword %}
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Confirm Password</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action='{{url_for("user_bp.confirmPassword")}}' method='POST' id='confirmPasswordForm'>
            {{ confirm_password_form.hidden_tag() }}
            <div class="modal-body">
                <p>Please confirm your password in order to change your details</p>
                <div class="form-group">
                    {% if confirm_password_form.password.errors %}
                        {{ confirm_password_form.password(**{"type":"password", "class":"form-control is-invalid", "data-validator-label":"password", "data-validator":"required"}) }}
                        <div class="form-control-feedback invalid-feedback">
                            {% for error in confirm_password_form.password.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ confirm_password_form.password(**{"type":"password", "class":"form-control", "data-validator-label":"password", "data-validator":"required"}) }}
                        <div class="form-control-feedback"></div>
                    {% endif %}
                </div>
                <hr>
                <div class="row justify-content-between spaceUp borderUp">
                    <div class="col col-auto mr-auto">
                        <p>{{ confirm_password_form.submit(class_='btn btn-primary') }}</p>  
                    </div>
                    <div class="col col-auto">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}