{% block edit_user_details %}
    <div class="card userDetails" id="hideEditUserDetails">
        <form action="{{url_for('user_bp.userAccount')}}" method="POST" id='editUserDetailsForm'>
            {{ edit_user_form.hidden_tag() }}
            <div class="card-header ">
                <div class="row justify-content-between">
                    <div >
                        <h3>My Details</h3>
                    </div>
                    <div >
                        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#dynamicModal" id="getConfirmPassword" data="{{url_for('user_bp.confirmPassword')}}" next='#editUserDetailsForm'>
                            Save
                        </button>
                        <button class="btn btn-secondary switchEditUserDetails" type="button">
                            Cancle
                        </button>
                    </div>
                </div>   
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3" >
                        <p>Email</p>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-group">
                            {% if edit_user_form.email.errors %}
                                {{ edit_user_form.email(**{"type":"email", "class":"form-control is-invalid", "value":current_user.email,"data-validator-label":"Email", "data-validator":"required|email"}) }}
                                <div class="form-control-feedback invalid-feedback">
                                    {% for error in edit_user_form.email.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ edit_user_form.email(**{"type":"email", "class":"form-control", "value":current_user.email,"data-validator-label":"Email", "data-validator":"required|email"}) }}
                                <div class="form-control-feedback"></div>
                            {% endif %}
                        </div>
                    </div>    
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <p>First name</p>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-group">
                            {% if edit_user_form.first_name.errors %}
                                {{ edit_user_form.first_name(**{"type":"text", "class":"form-control is-invalid", "value":current_user.first_name,"data-validator-label":"first name", "data-validator":"required"}) }}
                                <div class="form-control-feedback invalid-feedback">
                                    {% for error in edit_user_form.first_name.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ edit_user_form.first_name(**{"type":"text", "class":"form-control", "value":current_user.first_name,"data-validator-label":"first name", "data-validator":"required"}) }}
                                <div class="form-control-feedback"></div>
                            {% endif %}
                        </div>
                    </div>    
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <p>Last name</p>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-group">
                            {% if edit_user_form.last_name.errors %}
                                {{ edit_user_form.last_name(**{"type":"text", "class":"form-control is-invalid", "value":current_user.last_name, "data-validator-label":"last name","data-validator":"required"}) }}
                                <div class="form-control-feedback invalid-feedback">
                                    {% for error in edit_user_form.last_name.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ edit_user_form.last_name(**{"type":"text", "class":"form-control", "value":current_user.last_name,"data-validator-label":"last name", "data-validator":"required"}) }}
                                <div class="form-control-feedback"></div>
                            {% endif %}
                        </div>
                    </div>    
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <p>Phone number</p>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-group">
                            {% if edit_user_form.emergency_number.errors %}
                                {{ edit_user_form.emergency_number(**{"type":"tel", "class":"form-control is-invalid", "value":current_user.emergency_number, "data-validator-label":"mobile number", "data-validator":"required|size:11"}) }}
                                <div class="form-control-feedback invalid-feedback">
                                    {% for error in edit_user_form.emergency_number.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ edit_user_form.emergency_number(**{"type":"tel", "class":"form-control", "value":current_user.emergency_number, "data-validator-label":"mobile name", "data-validator":"required|size:11"}) }}
                                <div class="form-control-feedback"></div>
                            {% endif %}
                        </div>
                    </div>    
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <p>Date of birth</p>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-group">
                            {% if edit_user_form.dob.errors %}
                                {{ edit_user_form.dob(**{"id":"dob", "class":"form-control is-invalid", "value":current_user.dob, "data-validator-label":"date of birth","data-validator":"required"}) }}
                                <div class="form-control-feedback invalid-feedback">
                                    {% for error in edit_user_form.dob.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ edit_user_form.dob(**{"id":"dob","class":"form-control", "data-validator-label":"date of birth", "data-validator":"required"}) }}
                                <div class="form-control-feedback"></div>
                            {% endif %}
                        </div>
                    </div>    
                </div>
            </div>
        </form>
    </div>
{% endblock %}