
{% block login %}
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form action="{{ url_for('user_bp.login') }}" id="loginForm" class="formContainer"  method="post" role="form">
            {{ login_form.hidden_tag() }}
            <div class="form-group">
                {{ login_form.email.label }}<br>
                {% if login_form.email.errors %}
                    {{ login_form.email(**{"type":"email", "class":"form-control is-invalid", "id":"inputEmail", "placeholder":"Email","data-validator-label":"Email", "data-validator":"required|email", "data-validator-warnings":"required"}) }}
                    <div class="form-control-feedback invalid-feedback">
                        {% for error in login_form.email.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    {{ login_form.email(**{"type":"email", "class":"form-control", "id":"inputEmail", "placeholder":"Email", "data-validator-label":"Email", "data-validator":"required|email"}) }}
                    <div class="form-control-feedback"></div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ login_form.password.label }}<br>
                {% if login_form.password.errors %}
                    {{ login_form.password(**{"type":"password", "class":"form-control is-invalid", "id":"inputEmail", "placeholder":"Password","data-validator-label":"Password", "data-validator":"required|min:4|max:10"}) }}
                    <div class="form-control-feedback invalid-feedback">
                        {% for error in login_form.password.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    {{ login_form.password(**{"type":"password", "class":"form-control", "id":"inputEmail", "placeholder":"Password","data-validator-label":"Password", "data-validator":"required|min:4|max:10"}) }}
                    <div class="form-control-feedback"></div>
                {% endif %}
            </div>
            <div class="form-check mb-2 mr-sm-2">
                {{ login_form.remember_me(class="form-check-input") }}
                {{ login_form.remember_me.label(class_="form-check-label") }}
            </div>
            <p>New User? <a href="{{ url_for('user_bp.signup') }}">Click to Register!</a></p>
        
            <hr>
            <div class="row justify-content-between spaceUp borderUp">
                <div class="col col-auto mr-auto">
                    <p>{{ login_form.submit(class_='btn btn-primary') }}</p>  
                </div>
                <div class="col col-auto">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}