{% extends "master.html" %}

{% block main %}
    <h1>Account Verification</h1>
    <p>Dear {{name}},</p>
    <p>In order to secure your account, please use the code below.</p>
    <p>Your unique code is <strong>{{code}}</strong></p>
    <p>Remember your code expires in 5 minutes!</p>
{% endblock %}