{% extends "master.html" %}

{% block main %}
    <h1>WARNING!!! Attempted from unrecognized device</h1>

    <p>We have a noticed a login from a device we do not know.</p>

    <dl class="row">
        <dt class="col-sm-3">IP Address</dt>
        <dd class="col-sm-9">{{ip_addr}}</dd>

        <dt class="col-sm-3">Country</dt>
        <dd class="col-sm-9">{{country}}</dd>

        <dt class="col-sm-3">City</dt>
        <dd class="col-sm-9">{{city}}</dd>
    </dl>

    <p>To secure your account we have sent you a 6-digit code to your email address {{email}}</p>

    <p>Please enter the code below (the code will exprire after 5 minutes)</p>
    <form action="" method="POST">
        {{ verify_form.hidden_tag() }}
        <div class="form-group">
          <label for="codeInput">6-digit code</label>
          {{ verify_form.code.label }}<br>
          {{verify_form.code(class_="form-control")}}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}