{% extends "master.html" %}

{% block main %}
    <div class="container">
        <h1>The Edgier</h1>

        <h2>Payment #{{ payment.id }} - Customer Receipt</h2>

        <p>Thank you for your payment. Please keep this receipt for your records.</p>

        <dl class="row">
            
            <dt class="col-sm-3">Payment ID</dt>
            <dd class="col-sm-9">{{ payment.id }}</dd>

            <dt class="col-sm-3">Payment Description</dt>
            <dd class="col-sm-9">{{ payment.description }}</dd>

            <dt class="col-sm-3">Payment Amount</dt>
            <dd class="col-sm-9">£{{ "%.2f" % payment.get_price_decimal() }}</dd>

            <dt class="col-sm-3">Time of Payment</dt>
            <dd class="col-sm-9">{{ payment.time.strftime("%d %b %Y at %H:%M") }}</dd>

            <dt class="col-sm-3">Method of Payment Used</dt>
            <dd class="col-sm-9">Card {{ payment.card.get_anon_number() }}</dd>
    
        </dl>
    </div>
{% endblock %}