{% extends "master.html" %}

{% block main %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">My Payments</h1>
        </div>

        {% if payments == [] %}
            <p>You've never made any payments.</p>
        {% else %}
        <ul id="paymentsList" style="padding: 0; list-style-type: none;">

            {% for payment in payments %}
                <li style="margin-bottom: 10px;">

                    <div class="card">
                        <div class="card-body row align-items-center">
                            <div class="col">
                                <p class="card-text">{{ payment.description }} - £{{ "%.2f" % payment.get_price_decimal() }} [{{ payment.time.strftime("%d %b %Y at %H:%M") }}]</p>
                            </div>
                            <div class="col-sm-auto">
                                <a class="btn btn-outline-primary" role="button" aria-pressed="true" href="{{ url_for("user_bp.payment_receipt", payment_id = payment.id) }}">View Receipt</a>
                            </div>
                            <div class="col-sm-auto">
                                <a class="btn btn-primary" role="button" aria-pressed="true" href="{{ url_for("user_bp.payment", payment_id = payment.id) }}">View Payment</a>
                            </div>
                        </div>
                    </div>

                </li>
            {% endfor %}

        </ul>
        {% endif %}
    </div>
{% endblock %}
