{% extends "master.html" %}

{% from "macros.html" import payment_details %}

{% block main %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Payment #{{ payment.id }}</h1>

            <p class="lead">{{ payment.description }}</p>
        </div>

        <h3>Payment Details</h3>

        {{ payment_details(payment) }}

        <h3>Payment Receipt</h3>

        <a class="btn btn-primary" role="button" aria-pressed="true" href="{{ url_for("user_bp.payment_receipt", payment_id = payment.id) }}">View Receipt</a>
        
    </div>
{% endblock %}
