{% extends "master.html" %}

{% block main %}
    <div class="container-fluid" id="policyContent">
        <h1>Privacy Policy</h1>
        <p>At The Edgier, we believe your privacy is important, and we hope you do too!<br>
            To reassure you that your privacy is maintained, this policy will outline:
            <ul>
                <a href="#what"><li>What data we collect</li></a>
                <a href="#why"><li>Why we collect the data that we do</li></a>
                <a href="#dodont"><li>What we do and do not do with your data</li></a>
            </ul>
        </p>

        <h2 id="what">What data do we collect?</h2>
        <p>When signing up to The Edgier we require you to enter the following personal information:
            <ul>
                <li>Your full name (first and last</li>
                <li>Your email address</li>
                <li>A password</li>
                <li>An emergency contact number</li>
                <li>Your date of birth</li>
                <li>Card details (optional)</li>
            </ul>
        </p>
        <p>
            For your security we do store <strong>hashed</strong> IP addresses of devices you log in from.
            We stress the importance of hashing as this is a one way process and your IP address and location cannot be
            reversed from the hash we store. We do this so that if you login from a new device we can verify the login by emailing
            you a code. Once done, we will store this and you won't have to enter it again.
        </p>

        <h2 id="why">Why do we collect the data that we do?</h2>
        <p>
            It is essential that we store some information about our users.
            Your name and email addresses are so we know who you are and we can contact you
            regarding bookings,membership and exclusive offers.<br>
            Of course, a password is required to secure your account and protect your information!
            Needless to say, your passwords are hashed and <strong>never</strong> stored anywhere
            in plaintext. However, this means if you do forget your password, we cannot retrieve it for you.
        </p>
        <p>
            We ask for an emergency contact number so that touch wood, you have a medical emergency we can contact
            someone you know. Additionally, your date of birth is important for medical reasons.
        </p>
        <p>
            When paying for a class or membership, you can choose to save your card details to your account but we stress
            this is <strong>optional</strong>. It is purely for convenience to save time next time you book a session!
        </p>

        <h2 id="dodont">What do we do and do not do with your data?</h2>
        <p>
            We do nothing! That means we <strong>do not</strong>:
            <ul>
                <li>Sell your data to third parties</li>
                <li>Share your data with advertisers</li>
            </ul>
        </p>
    </div>
{% endblock %}