{% extends "master.html" %}

{% from "macros.html" import booking_qrcode %}

{% block main %}
    <div class="container">
        <h1>The Edgier</h1>

        <h2>Booking #{{ booking.id }} - Customer Receipt</h2>

        <p>You've booked an activity! This receipt serves as proof of your booking.</p>

        <dl class="row">

            <dt class="col-sm-3">Activity Description</dt>
            <dd class="col-sm-9">{{ booking.activity.start_time.strftime("%d %b %Y at %H:%M") }}</strong> - {{ booking.activity.name }} at {{ booking.activity.facility.name}}</dd>
    
            <dt class="col-sm-3">Booking ID</dt>
            <dd class="col-sm-9">{{ booking.id }}</dd>
    
            <dt class="col-sm-3">Time of Booking</dt>
            <dd class="col-sm-9">{{ booking.time_of_booking.strftime("%d %b %Y at %H:%M") }}</dd>
            
            <dt class="col-sm-3">Total Payment</dt>
            <dd class="col-sm-9">{{price_text}}</dd>
            
            <dt class="col-sm-3">Payment Method</dt>
            <dd class="col-sm-9">Card **** **** **** XXXX</dd>
    
        </dl>

        {{ booking_qrcode(booking) }}
    </div>
{% endblock %}