{% extends "user.html" %} 



{% block userCont %}
    <h1>Signup</h1>
    <div class="container-fluid" id="formErrors">
        {% for fieldName, errorMessages in form.errors.items() %}
            {% for err in errorMessages %}
                <div class="alert alert-danger alert-dismissable show" role="alert">
                    {{fieldName}}:{{err}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <div class="container">
        <form method="POST" action="{{url_for('user_bp.signup')}}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <div class="form-row">
                    <div class="col">
                        {{ form.first_name(class_="form-control", id="firstName", placeholder="First Name")}}
                    </div>
                    <div class="col">
                        {{ form.last_name(class_="form-control", id="lastName", placeholder="Last Name")}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form.email(class_="form-control", id="email", placeholder="Email")}}
            </div>
            <div class="form-group">
                {{ form.password(class_="form-control", id="password", placeholder="Password")}}
            </div>
            <div class="form-group">
                {{ form.emergency_number(class_="form-control", id="iceNumber", placeholder="Emergency Phone Number")}}
            </div>
            <div class="form-group">
                {{ form.dob(class_="form-control", id="dob")}}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Signup</button><br>
                <small>By signing up you are agreeing to our
                    <a href="{{url_for('user_bp.privacy_policy')}}" target="_blank">privacy policy</a>.
                </small>
            </div>
        </form>
    </div>
{% endblock %}