{% block user_details %}
    <div class="card userDetails">
        <div class="card-header ">
            <div class="row justify-content-between">
                <div >
                    <h3>My Details</h3>
                </div>
                <div >
                    <button class="btn btn-primary" data-toggle="modal" data-target="#dynamicModal" data="{{url_for('user_bp.changePassword')}}" id="getChangePassword" type="button">
                        Change password
                    </button>
                    <button class="btn btn-secondary switchEditUserDetails" type="button">
                        Edit
                    </button>
                </div>
            </div>   
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3" >
                    <p>Email</p>
                </div>
                <div class="col-sm-9">
                    <p>{{ current_user.email }}</p>
                </div>    
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p>First name</p>
                </div>
                <div class="col-sm-9">
                    <p>{{ current_user.first_name }}</p>
                </div>    
              </div>
            <div class="row">
                <div class="col-sm-3">
                    <p>Last name</p>
                </div>
                <div class="col-sm-9">
                    <p>{{ current_user.last_name }}</p>
                </div>    
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p>Phone number</p>
                </div>
                <div class="col-sm-9">
                    <p>{{ current_user.emergency_number }}</p>
                </div>    
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p>Date of birth</p>
                </div>
                <div class="col-sm-9">
                    <p>{{ current_user.dob.strftime('%d/%m/%Y') }}</p>
                </div>    
            </div>
        </div>
    </div>
{% endblock %}