{% extends "user.html" %} 



{% block userCont %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">activities</h1>
        </div>
        <div class="row">
            <div class="col-sm-8">
                {% include 'user_details.html' %}
                {% include 'edit_user_details.html' %}
            </div>
            <div class="col-sm-4">
                <h3>My Activities</h3>
                    {% if activities %}
                        {% for booking in activities %}
                            <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false">
                                <div class="toast-header">
                                    <strong class="mr-auto">Activity</strong>
                                    <small>{{booking.activity.start_time.strftime("%d/%m/%Y")}}</small>
                                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                        <span aria-hidden="true">cancel &times;</span>
                                    </button>
                                </div>
                                <div class="toast-body">
                                    {{booking.activity.name}} in {{booking.activity.facility.name}}<br>
                                    Booked {{booking.time_of_booking.strftime("%d/%m/%Y")}}<br>
                                    <a href="{{ url_for('user_bp.booking', booking_id = booking.id) }}">View Receipt</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
            </div>
        </div>
    </div>
{% endblock %}