{% extends "master.html" %}

{% block main %}
    <p>Hi {{ user.first_name }},</p>

    <p>We've cancelled the renewal of your membership. This means that when it expires, you will no longer be a member and lose all the benefits of membership.</p>

    <p>We hope you'll rejoin us. You can set up a renewal any time <a href="{{ url_for("membership_bp.membership_manage") }}">here</a>. 
        
    <p>Thanks,</p>

    <p>The Edgier Team</p>
{% endblock %}