{% extends "master.html" %}

{% block main %}
    <p>Hi {{ user.first_name }},</p>

    <p>Welcome to our membership! Now you're a member, you have access to all the amazing benefits that brings. Thank you for your support.</p>

    <p>We've scheduled a renewal will on {{ renewal.renew_on.strftime("%d %b %Y") }}. You can also <a href="{{ url_for("membership_bp.membership_manage") }}">manage your membership</a> at any time.</p>

    <p>Thanks,</p>

    <p>The Edgier Team</p>
{% endblock %}