{% extends "master.html" %}

{% block main %}
    <div class="container">
        <div class="jumbotron">
            <h1>Thank you!</h1>

            <p>You've just gained access to loads of fantastic benefits, classes, and facilities!</p>

            <p><a class="btn btn-primary btn-lg" href="/" role="button">Return Home</a></p>
        </div>
    </div>
{% endblock %}
