{% extends "master.html" %}

{% block main %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Join Our Membership Today!</h1>

            <p class="lead">
                Membership gives you a load of great benefits. Join now for as little as £14.99 a month!
            </p>

            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#membership_join" role="button">Join Now</a>
            </p>
        </div>

        <h2 id="membership_join">Become a Member</h2>

        <p>Becoming a member is as simple as choosing a payment option below. You'll have access to all the <a href="#benefits">benefits of membership</a> straight away. We'll set up a renewal for you so that you never have to worry about missing out again. If at any point you aren't satisfied, you can cancel your membership renewal&mdash;you'll still keep all your benefits until your current membership expires.</p>

        <form class="form" method="post" action="">
            {{ form.csrf_token }}
            <div class="card-deck">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Monthly Billing Option</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">We'll bill you every month, giving you the flexibility to leave any time.</p>

                        <p class="card-text"><strong>£{{"%.2f" % prices.monthly.m}} a month</strong>, £{{"%.2f" % prices.monthly.y}} a year</p>

                        {{ form.monthly(class_="btn btn-outline-primary btn-block") }}
                    </div>
                </div>

                <div class="card border-primary ribbon-parent">
                    <div class="ribbon">Best Value!</div>
                    <div class="card-header text-white bg-primary">
                        <h3 class="card-title">
                            Annual Billing Option
                        </h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">We'll bill you every year, allowing us to offer you our best price.</p>

                        <p class="card-text"><strong>£{{"%.2f" % prices.annually.m}} a month</strong>, £{{"%.2f" % prices.annually.y}} a year</p>

                        {{ form.annually(class_="btn btn-primary btn-block") }}
                    </div>
                </div>
            </div>
        </form>

        <hr />

        <h2 id="benefits">Benefits</h2>

        <p>We know our members expect the best from The Edgier. We truly value our members, and we want to give you value in return. We're always thinking of new perks to offer members, check out some of our current offerings below:</p>

        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22383%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20383%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17072667d3c%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A19pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17072667d3c%22%3E%3Crect%20width%3D%22383%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22142.90625%22%20y%3D%2298.4%22%3E383x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" />
                <div class="card-body">
                    <h3 class="card-title">Save Money</h3>
                    <p class="card-text">Members can book unlimited sessions for absolutely no extra fee.</p>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22383%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20383%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17072667d3c%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A19pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17072667d3c%22%3E%3Crect%20width%3D%22383%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22142.90625%22%20y%3D%2298.4%22%3E383x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" />
                <div class="card-body">
                    <h3 class="card-title">Book Anytime</h3>
                    <p class="card-text">Members can book onto any session at any time with no restricted hours.</p>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22383%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20383%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17072667d3c%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A19pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17072667d3c%22%3E%3Crect%20width%3D%22383%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22142.90625%22%20y%3D%2298.4%22%3E383x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" />
                <div class="card-body">
                    <h3 class="card-title">Get Fitter</h3>
                    <p class="card-text">Members have access to complimentary personal training sessions from our qualified personal trainers.</p>
                </div>
            </div>
        </div>

        <p>Don't just take our word for it, here are some snippets from what our members love about The Edgier Membership:</p>

        <div class="row">
            <div class="col-md-6">
                <blockquote class="card blockquote text-center card-body">
                    <p class="mb-0">Since becoming a member I've lost so much weight!</p>
                    <footer class="blockquote-footer">Claire, 35</footer>
                </blockquote>
            </div>
            

            <div class="col-md-6">
                <blockquote class="card blockquote text-center card-body">
                    <p class="mb-0">Such member. Very fitness. Wow.</p>
                    <footer class="blockquote-footer">Jermey, 22</footer>
                </blockquote>
            </div>
        </div>
        
    </div>
{% endblock %}
