{% extends "master.html" %}

{% block main %}
<div class="container">
    <div class="jumbotron">
        <h1>Manage Your Membership</h1>
    </div>

    <form class="form" method="post" action="">
        {{ form.csrf_token }}

        <h2>Membership Details</h2>

        <p>Your membership will expire after {{ membership.end_date.strftime("%d %b %Y") }}.</p>

        {% if renewal %}
            <p>Your next payment of £{{ "%.2f" % price }} will be taken on {{ renewal.renew_on.strftime("%d %b %Y") }} at {{ renewal.renew_on.strftime("%H:%M") }}.</p>

            <h2>Cancel Membership</h2>

            <p>Use the button below to cancel your membership. You'll remain a member until your current membership expires. Afterwards, you'll lose all of the benefits of membership. We'll be sad to see you go.</p>
        
            {{ form.cancel(class_="btn btn-outline-danger") }}
        {% else %}
            <h2>Renew Membership</h2>

            <p>When your membership expires, you will lose all of your membership benefits. You can ensure you don't miss out by scheduling a renewal.</p>

            <p>You don't have a renewal date. In order to schedule a membership renewal for when your current membership expires, just choose a renewal type using the buttons below.</p>
        
            <p>You'll be redirected to our payments page where you'll need to enter some payment card details. Don't worry, we won't charge you anything until your renewal occurs.</p>
        
            <div class="card-deck">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Monthly Billing Option</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">We'll bill you every month, giving you the flexibility to leave any time.</p>
    
                        <p class="card-text"><strong>£{{"%.2f" % prices.monthly.m}} a month</strong>, £{{"%.2f" % prices.monthly.y}} a year</p>
    
                        {{ form.renew_monthly(class_="btn btn-outline-primary btn-block") }}
                    </div>
                </div>
    
                <div class="card border-primary ribbon-parent">
                    <div class="ribbon">Best Value!</div>
                    <div class="card-header text-white bg-primary">
                        <h3 class="card-title">
                            Annual Billing Option
                        </h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">We'll bill you every year, allowing us to offer you our best price.</p>
    
                        <p class="card-text"><strong>£{{"%.2f" % prices.annually.m}} a month</strong>, £{{"%.2f" % prices.annually.y}} a year</p>
    
                        {{ form.renew_annually(class_="btn btn-primary btn-block") }}
                    </div>
                </div>
            </div>
        {% endif %}
    </form>

{% endblock %}
