{% extends "master.html" %}

{% block main %}
    <p>Hi {{ user.first_name }},</p>

    <p>We tried to renew your membership for you today but we were unable to charge the card that you have given to us previously. As a result, we've had to cancel your membership renewal and you are no longer a member.</p>

    <p>Do not worry though, since rejoining is just as easy as signing up again, and it won't cost you any more than what it would have done if we already renewed your membership. Just <a href="{{ url_for("membership_bp.membership_join") }}">join here</a>.</p>

    <p>Thanks,</p>

    <p>The Edgier Team</p>
{% endblock %}