{% extends "master.html" %}

{% block main %}
    <p>Hi {{ user.first_name }},</p>

    <p>We just renewed your membership for you. Thank you for your continued support.</p>

    <p>Your next renewal will be on {{ renewal.renew_on.strftime("%d %b %Y") }}. You can also <a href="{{ url_for("membership_bp.membership_manage") }}">manage your membership</a> at any time.</p>

    <p>Thanks,</p>

    <p>The Edgier Team</p>
{% endblock %}