.toolbar {
    background-color: azure;
}

.facility_list {
    background-color: rgb(183, 252, 246);
}

ul {
    list-style: none;
    padding-left: 0;
}

li:hover {
    background-color: rgb(122, 243, 233);
}

/* -----------------------  grid layout for timtable */

.narrow {
    max-width: 50px;
}

.view_activity {
    text-align: center;
    color: rgb(19, 185, 250);
    padding-top: 5px;
    padding-bottom: 5px;
}

.view_activity:hover {
    background-color: rgb(225, 214, 235);
}

.available_activity {
    text-align: center;
    color: rgb(19, 185, 250);
    padding-top: 5px;
    padding-bottom: 5px;
}

.available_activity:hover {
    background-color: rgb(90, 213, 250);
    color: white
}


/* ---------------- statistics page -------------------- */


.activity_detail {
    padding: 10px 0 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.activity_detail:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}