{% extends "master.html" %}

{% block main %}
    <div class='container content'>
        <h1>Page Not Found</h1>
        <form action="{{ request.referer }}" method='get'>
            {% for key in request.args.to_dict() %}
                <input type='hidden' name='{{key}}' value='{{request.args.get(key)}}'>
            {% endfor %}
            <button class='btn btn-primary' >Return</button>
        </a>   
    </div>
{% endblock %}