{% extends "master.html" %}

{% block main %}
<div class='container content'>
    <h1>An unexpected error has occurred</h1>
    <p>The administrator has been notified. Sorry for the inconvenience!</p>
    <form action="{{ request.referer }}" method="get">
        {% for key in request.args.to_dict() %}
              <input type='hidden' name='{{key}}' value='{{request.args.get(key)}}'>
        {% endfor %}
        <button class='btn btn-primary'>Return</button>
    </form>
</div>
    
{% endblock %}